<div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Alta</h4>
      </div>
      <div class="card-body">
        <form>
            <div class="form-group">
              <label for="codigo">Codigo</label>
              <input type="text" class="form-control" id="codigo" formControlName="codigo" >
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="marca">Marca</label>
              <input type="text" class="form-control" id="marca" formControlName="marca">
            </div>
            <div class="form-group">
                <label for="capacidad">Capacidad</label>
                <input type="number" class="form-control" id="capacidad" formControlName="capacidad">
              </div>
            <button type="submit" class="btn btn-primary">ALTA</button>
          </form>
      </div>
    </div>
  </div>