<h1 class="display-5 fw-bold">Listado productos</h1>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of listadoProductos" >
        <td>{{producto.codigo}}</td>
        <td>{{producto.descripcion}}</td>
        <td><button type="button" class="btn btn-outline-secondary" (click)="getProductoSeleccionado(producto)">VER DETALLE</button></td>
      </tr>
    </tbody>
  </table>