.container{
    height: 65vh;
    width: 112%;
    margin-left: -50px;
}

.listaPaises{
    height: 75%;
    overflow-y: scroll;
}

.paisContainer:hover{
    cursor: pointer;
    transform: scale(1.1);
}